body{
	font-family: tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1",'PingFangSC-Regular';
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 0.7rem;
}
/*header*/
.header{
	display: flex;
	width: 100%;
	height: 130px;
	background-color:#080821;
	border-radius: 4px 4px 4px 4px;
	flex-wrap: wrap;
	box-shadow: 0px 0px 3px 3px #080821;
}
.header #logo img{
	display: inline-block;
	margin-top: 15px;
	height: 40px;
}
.header #headertext{
	flex:1;
	line-height: 70px;
}
.header i{
	color: rgb(9, 195, 241);
}
.header a:hover{
	color: rgb(45, 94, 230);
}
/* music */
#music{
	width: 100%;
	background:#080821;
}
#music audio{
	width: 100%;
	border: none;
	outline: medium;
}
audio:hover{
	border: none;
	outline: medium;
}
/* team */
.team #teamcontent{
	display: flex;
	height: 50px;
}
.upItemBox {
	width: 80px;
	margin-left: 20px;
	display: flex;
	justify-content: space-evenly;
}
.upItem {
	width: 6px;
	height: 12px;
	margin-top: 25px;
}
#upItemOne {
	background-color: #080821;
	animation: upOne 2.5s infinite linear;
}
#upItemTwo {
	background-color: rgb(88, 60, 60);
	animation: upTwo 2.5s infinite linear;
}
#upItemThree {
	background-color: #702626;
	animation: upThree 2.5s infinite linear;
}
#upItemFour {
	background-color: #4c0e61;
	animation: upFour 2.5s infinite linear;
}
#upItemFive {
	background-color: #022730;
	animation: upFive 2.5s infinite linear;
}
@keyframes upOne {
	0% {
		margin-top: 22px;
	}
	20% {
		margin-top: 25px;
	}
}
@keyframes upTwo {
	20% {
		margin-top: 22px;
	}
	40% {
		margin-top: 25px;
	}
}
@keyframes upThree {
	40% {
		margin-top: 22px;
	}
	60% {
		margin-top: 25px;
	}
}
@keyframes upFour {
	60% {
		margin-top: 22px;
	}
	80% {
		margin-top: 25px;
	}
}
@keyframes upFive {
	80% {
		margin-top: 22px;
	}
	100% {
		margin-top: 25px;
	}
}
#teamlogo i{
	font-size: 30px;
	color:#080821;
}
.underline {
	width: 100%;
	height: 3px;
	margin: auto;
	background-color: #1f255f;
}
.teammember{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	border-radius: 3px;
	background-color: #080821;
	box-shadow: 0px 0px 2px 2px rgb(19, 4, 4);
}
.teammember .member{
	width: 33.333%;
	cursor: pointer;
	height: 190px;
}
.teammember .member img{
	width: 120px;
	height: 120px;
}
.teammember .member i{
	display: block;
	width: 25px;
	height: 25px;
	background-color: blue;
	position: absolute;
	left: 108px;
	top: 108px;
}
.teammember #i-block{
	position: relative;
}
.teammember .member:hover #block{
	left:95px;
	top: 95px;
}
.teammember .member{
	display: flex;
}
#member-introduction p{
	color: white;
	margin: 0px;
}
.teammember .member:hover{
	background-color: rgb(69, 69, 73);
}
#member-introduction #member-name{
	margin:110px 0px 0px 0px;
	text-align: center;
	font-family: 'PingFangSC-Regular';
	font-size: 18px;
	color: #9ea39cf8;
}
#member-introduction #member-text{

	 font-size: 12px;
	 font-family: 'PingFangSC-Regular';
	 color: #86999e;
}
/* 项目研发 */
.events #events-content{
	display: flex;
	height: 50px;
}
#events-logo i{
	font-size: 30px;
	color:#080821;
}
#events-box{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	background-color: #080821;
	box-shadow: 0px 0px 2px 2px rgb(19, 4, 4);
	border-radius: 3px;
	height: 250px;
}
#qrcode{
	width: 60%;
}
#qrcode img{
	width: 100%;
	height: 250px;
}
#events-text{
	width:40%;
}
#img{
	position: relative;
	display: flex;
	flex-direction: row-reverse;
}
#events-text img{
	width: 150px;
	height: 150px;
}
#events-text #text-first{
	margin: 0px;
	font-size: 18px;
	padding-right: 165px;
	text-align: right;
	color: #9ea39cf8;
	font-family: 'PingFangSC-Regular';
}
#events-text #text-second{
	color: #86999e;
	font-size: 12px;
	margin:-6px 0px 0px 0px;
}
#events-text:hover{ /*之间不要加空格！！！*/
	background-color: rgb(69, 69, 73);
	cursor: pointer;
}
#img i{
	display: block;
	width: 30px;
	height: 30px;
	background-color: blue;
	position: absolute;/*父元素一定要开启相对定位*/
	top: 135px;
	right: 135px;
}
#events-text :hover i{
	top: 120px;
	right: 120px;
}
/* 关于方向 */
.target #target-content{
	display: flex;
	height: 50px;
}
#target-logo i{
	font-size: 30px;
	color:#080821;
}
#target-text{
	box-shadow: 0px 0px 2px 2px rgb(19, 4, 4);
	border-radius: 3px;
	display: flex;
	background-color: #080821;
	height: 250px;
	margin-top: 10px;
}
.left-zoom{
	width: 50%;
}
.right-zoom{
	width: 50%;
}
.marqueebox {
	font-size: 1rem;
}
.marqueeText {
	height: 20px;
	color: #fff;
}
.left-zoom h3{
	color: #fff;
	text-align: center;
}
.right-zoom img{
	width:100%;
	height: 250px;
}
/* footer */
 #footer-content{
	display: flex;
	height: 50px;
}
#footer-logo i{
	font-size: 30px;
	color:#080821;
}
.footer-box{
	box-shadow: 0px 0px 2px 2px rgb(19, 4, 4);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	background: #080821;
}
#contact-us{
	display: flex;
	height: 50px;
}
#contact-us p{
   font-size: 14px;
   margin-top: 19px;
   color: #fff;
}
#contact-us i{
	font-size: 30px;
	color: #fff;
}
#iconfont1{
	margin: 12px 10px 0px 20px;
}
#iconfont2{
     margin: 17px 10px 0px 0px ;
}
#iconfont3{
	margin-top: 15px;
}
#iconfont1:hover{
	color: #1b55d1;
}
#iconfont2:hover{
	color: #11dd6dfd;
}
#iconfont3:hover{
	color: #e6260dfd;
}
#copyright{
	display: flex;
	flex-direction: column;
}
#copyright p{
	color: #86999e;
	margin: 0px;
	font-size: 12px;
	margin-top: 15px;
}